<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shutup.polar"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".PolarApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <service
            android:name=".MyIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".MyDaemonService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>